.containerTab {
    border: 1px dashed black;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: fit-content;
    height: fit-content;
    max-height: 76vh;
    overflow-y: auto;
}
.containerTab::-webkit-scrollbar {
    width: 10px;
}
.containerTab::-webkit-scrollbar-thumb {
    background: lightgray; 
    border-radius: 20px;
}

.tabListaFramework {
    border-collapse: collapse;
    width: 100%;
}

.tabListaFramework tr th {
    border: 1px solid black;
}
.tabListaFramework thead tr th {
    border-top: 0px;
}
.tabListaFramework tr th:first-child {
    border-left: 0px;
}
.tabListaFramework tr th:last-child {
    border-right: 0px;
    width: 5vw;
}

.tabListaFramework tr td {
    border: 1px solid black;
}
.tabListaFramework tr td:first-child {
    border-left: 0px;
}
.tabListaFramework tr td:last-child {
    border-right: 0px;
    width: 5vw;
}
.tabListaFramework tr td:last-child:hover {
    cursor: pointer;
}
.tabListaFramework tr:last-child td {
    border-bottom: 0px;
}

.cerca {
    text-align: right;
    margin-bottom: 1vh;
}