.tab-all-week {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: solid 1px black;
    border-collapse: collapse;
    text-align: center;
}

.tab-all-week tr td {
    border: solid 1px black;
}
.tab-all-week tr th {
    border: solid 1px black;
}
