.container {
    display: flex;
    column-gap: 1vw;
    align-items: center;
}
.container>div:nth-child(3) {
    font-size: 26px;
}

/* .container>div:nth-child(3) {
    align-self: center;
    margin-left: auto;
    font-size: 16px;
}

.container button:last-child {
    margin-left: auto;
} */

