.container {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.container .bottoneSalva {
    margin-top: 3vh;
    margin-bottom: 16vh;
    float: left;
}

.containerBottoniTop {
    display: flex;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.container .bottoneReset {
    margin-top: 3vh;
    margin-bottom: 16vh;
    float: right;
}
