.containerGrid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    justify-content: space-around;
    /* align-items: center; */
    margin-bottom: 3vh;
}

.containerGrid span:nth-child(1) {
    font-size: 3vh;
}
.containerGrid div input {
    display: inline-block;
}
.containerGrid div input[type=text] {
    width: 4vw;
}
.containerGrid div input[type=number] {
    width: 4vw;
}
.containerGrid div input[type=date] {
    width: 9vw;
}

.containerGrid .riquadroTest {
    display: flex;
    border-radius: 20px;
}

.containerGrid .riquadroTest div:nth-child(3) {
    margin-left: 0.5vw;
}

.containerGrid>div:nth-child(1) {
    margin-top: 1.2vh;
}
.containerGrid>div:nth-child(2) {
    margin-top: 1.2vh;
}
.containerGrid>div:nth-child(5) {
    margin-top: 1.2vh;
}